# Virtual environment
venv310
venv/

# Model files
*.pkl

# Database files
*.db

# Python cache
__pycache__/
*.pyc

# Node modules (if frontend becomes Node-based)
node_modules/

# OS-specific files
.DS_Store
Thumbs.db
