<link rel="stylesheet" href="../components/footer.css">


<footer class="site-footer">
    <div class="footer-container">
        <nav class="footer-links-top">
            <a href="#">ऑनलाइन पेमेंट</a>
            <a href="#">व्यवसायिक यश</a>
            <a href="#">सार्वजनिक तक्रारी</a>
            <a href="#">निगराणी</a>
            <a href="#">आमच्याशी संपर्क साधा</a>
            <a href="#">सार्वजनिक सूचना</a>
            <a href="#">वारंवार विचारले जाणारे प्रश्न</a>
            <a href="#">अस्वीकरण</a>
            <a href="#">डिस्कॉर्ड समुदाय</a>
            <a href="#">गिटहब संघटना</a>
            <a href="#">गोपनीयता धोरण</a>
            <a href="#">नियम आणि अटी</a>
            <a href="#">साइटनकाशा</a>
        </nav>
        <p class="footer-copyright">
            कॉपीराईट २०२५ वर्धा मेट्रो फ्लो प्रकल्प. सर्व हक्क राखीव.
        </p>
    </div>
</footer>
