<link rel="stylesheet" href="../components/footer.css">

<footer class="site-footer">
    <div class="footer-container">
        <nav class="footer-links-top">
            <a href="#">ONLINE PAYMENT</a>
            <a href="#">BUSINESS FORTUNE</a>
            <a href="#">PUBLIC GRIEVANCES</a>
            <a href="#">VIGILANCE</a>
            <a href="#">CONTACT US</a>
            <a href="#">PUBLIC NOTICES</a>
            <a href="#">FAQS</a>
            <a href="#">DISCLAIMERS</a>
            <a href="#">DISCORD COMMUNITY</a>
            <a href="#">GITHUB ORGANISATION</a>
            <a href="#">PRIVACY POLICY</a>
            <a href="#">TERMS AND CONTIDTIONS</a>
            <a href="#">SITEMAP</a>
        
        <p class="footer-copyright">
            Copyright 2025 Wardha Metro FLow Project. All rights reserved.
        </p>
    </div>
</footer>